@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
    url('../fonts/roboto-v19-cyrillic_latin-regular.woff2') format('woff2'),
    url('../fonts/roboto-v19-cyrillic_latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
    url('../fonts/roboto-v19-cyrillic_latin-500italic.woff2') format('woff2'),
    url('../fonts/roboto-v19-cyrillic_latin-500italic.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
    url('../fonts/roboto-v19-cyrillic_latin-700.woff2') format('woff2'),
    url('../fonts/roboto-v19-cyrillic_latin-700.woff') format('woff');
}

.page {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  min-width: 320px;
  min-height: 100%;

  &__inner {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  &__content {
    flex-grow: 1;
    overflow-x: hidden;
  }

  &__footer-wrapper {
    flex-shrink: 0;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  min-height: 100%;
  margin: 0;
  word-break: break-word;
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  text-align: left;
  color: $text-color;
  background-color: $body-bg;
}
img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

a {
  color: $link-color;
  background-color: transparent;
  transition: color 0.3s;

  &:hover,
  &:focus {
    color: $link-color--hover;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-family: $font-family;
  font-weight: 700;
  line-height: 1.2;
  color: $gray-darken;
}

// prettier-ignore
h1 { font-size: $font-size-h1; } // prettier-ignore
h2 { font-size: $font-size-h2; } // prettier-ignore
h3 { font-size: $font-size-h3; } // prettier-ignore
h4 { font-size: $font-size-h4; } // prettier-ignore
h5 { font-size: $font-size-h5; } // prettier-ignore
h6 { font-size: $font-size-h6; } // prettier-ignore

p,
ul,
ol,
dl,
table,
blockquote,
pre,
address,
figure {
  margin-top: 0;
  margin-bottom: $typo-margin-vertical;
}

p {
  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
}

address {
  font-style: normal;
}

ul,
ol {
  margin-bottom: $typo-margin-vertical;
  padding-left: 1.5em;

  ul,
  ol {
    margin-top: 0;
    margin-bottom: 0;
  }
}

li {
  line-height: inherit;
}
