<!-- prettier-ignore -->
<% var data = {
  path: 'planting-course',
  title: 'Курс по высаживанию'
}; %>

<!DOCTYPE html>
<html class="page" lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="180x180" href="./<%= data.path %>/img/favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="./<%= data.path %>/img/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="./<%= data.path %>/img/favicon/favicon-16x16.png" />
    <link rel="manifest" href="./<%= data.path %>/img/favicon/site.webmanifest" />
    <link rel="mask-icon" href="./<%= data.path %>/img/favicon/safari-pinned-tab.svg" color="#5bbad5" />
    <link rel="shortcut icon" href="./<%= data.path %>/img/favicon/favicon.ico" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="msapplication-config" content="./<%= data.path %>/img/favicon/browserconfig.xml" />
    <meta name="theme-color" content="#ffffff" />
    <title><%- data.title %></title>
  </head>
  <body>
    <div class="page__inner">
      <div class="page__content">
        <main>
          <div class="page-title">
            <div class="page-title__inner">
              <h1><%- data.title %></h1>
            </div>
          </div>

          <section class="content">
            <div class="content__inner">
              <div class="content__wrap">
                <h2 class="content__title">Видео 1</h2>

                <div class="embed-responsive content__video">
                  <iframe src="https://play.boomstream.com/UTbSfiOv" allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </section>

          <section class="content">
            <div class="content__inner">
              <div class="content__wrap">
                <h2 class="content__title">Видео 2</h2>

                <div class="embed-responsive content__video">
                  <iframe src="https://play.boomstream.com/UTbSfiOv" allowfullscreen></iframe>
                </div>

                <div class="content__desc">
                  <h3 class="text-center">Далеко-далеко за словесными горами</h3>
                  <p class="font-italic">
                    Далеко-далеко за словесными горами в стране гласных, и согласных живут рыбные.
                  </p>
                  <p>
                    Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Рекламных
                    безопасную точках злых предложения?
                  </p>
                </div>
              </div>
            </div>
          </section>

          <section class="content">
            <div class="content__inner">
              <div class="content__wrap">
                <h2 class="content__title">Видео 3</h2>

                <div class="embed-responsive content__video">
                  <iframe src="https://play.boomstream.com/UTbSfiOv" allowfullscreen></iframe>
                </div>

                <div class="content__desc">
                  <p>
                    Далеко-далеко за словесными горами в стране гласных, и
                    <span class="font-bold">согласных живут рыбные</span>
                    .
                  </p>
                  <p class="text-uppercase">
                    Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Рекламных
                    безопасную точках злых предложения?
                  </p>
                  <p>
                    Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Рекламных
                    безопасную точках злых предложения? Далеко-далеко за словесными горами в стране гласных и согласных
                    живут рыбные тексты. Над, грамматики.
                  </p>
                </div>
              </div>
            </div>
          </section>
        </main>
      </div>
      <div class="page__footer-wrapper">
        <footer class="page-footer">
          <div class="page-footer__inner">
            <p class="page-footer__text">Напишите нам:</p>

            <ul class="socials page-footer__socials">
              <li class="socials__item">
                <a class="socials__link socials__link--wa" href="https://wa.me/79282592686?text=Здравствуйте">
                  <span class="socials__text">WhatsApp</span>
                </a>
              </li>

              <li class="socials__item">
                <a class="socials__link socials__link--inst" href="https://www.instagram.com/a_ryabinina_a/">
                  <span class="socials__text">Instagram</span>
                </a>
              </li>

              <li class="socials__item">
                <a class="socials__link socials__link--telegram" href="tg://resolve?domain=@a_ryabinina">
                  <span class="socials__text">Telegram</span>
                </a>
              </li>
            </ul>

            <p class="page-footer__copyright">© IQmom 2020</p>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
